<div class="container text-center">
	<h1>About Me</h1>
	<p>My name is Wesley Rasada but you can call me Wes.

	From a young age, I've always been fascinated by technology. Growing up, I had a big passion for video games and technology in general. At heart, I'm a very creative person who loves to build and be challenged. I love to take things apart and improve them, if at all possible. Do-it-yourself is something I live by and the knowledge you attain in doing so, whether success or failure, is what drives me to learn more. <br><br>

	This is where programming comes in. While I'm currently new to the programming scene, I'm loving every single minute! The challenges, building, solving and creativity programming gives me are what I have the utmost passion for. I'm going to work hard to improve my programming and ultimately achieve my goal of making it my career.</p>
</div>