<div class="home-callout text-center container-fluid">
	<%= image_tag("profilepic.jpg", :alt => "Profile Pic", :class => "profile-pic img-circle") %>
	<h1>Wesley Rasada</h1>
	<h3>Join me on my journey to full-stack web development.</h3>
</div>