<div class="home-callout text-center container-fluid">
	<%= link_to "https://www.youtube.com/watch?v=dQw4w9WgXcQ" do %>
		<%= image_tag("profilepic.jpg", :alt => "Profile Pic", :class => "profile-pic img-circle") %>
	<% end %>
	<h1>Wesley Rasada</h1>
	<h3>Join me on my journey to full-stack web development.</h3>
</div>